@model EnjoyYourWaitNetSite.Models.AddRecepcionistaViewModel
@{
    ViewBag.Title = "Registro de Recepcionista";
}
<div>
    @if (ViewBag.Success != null)
    {
        <div id="messageModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @if (ViewBag.Success)
                            {
                                <p>El/La recepcionista se registro correctamente</p>
                            }
                            else
                            {
                                <p>Error al crear el/la recepcionista</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="mb-3">
        <font size="6">Ingresar los datos de el/la recepcionista</font>
    </div>

    @using (Html.BeginForm("AñadirRecepcionista", "Recepcionista", FormMethod.Post))
    {
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row justify-content-center">
                    <table>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>DNI:</label>
                                    @Html.TextBoxFor(model => model.Dni, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Nombre:</label>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Apellido:</label>
                                    @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Email:</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Fecha de Nacimiento:</label>
                                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "datefield", type = "date" })
                                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                                    @if (ViewBag.InvalidAge != null)
                                    {
                                        <span class="field-validation-error text-danger" data-valmsg-for="FechaNacimiento" data-valmsg-replace="true">@ViewBag.InvalidAge</span>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Crear" class="btn btn-sm btn-success float-right mt-2 mb-2 shadow" /></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
}
