@model EnjoyYourWaitNetSite.Models.UpdatePromocionViewModel
@{
    ViewBag.Title = "Modificar promoción";
}
    <div>
        @if (ViewBag.Success != null)
        {
            <div id="messageModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                @if (ViewBag.Success)
                                {
                                    <p>La promoción se modificó correctamente</p>
                                }
                                else
                                {
                                    <p>Error al modificar la promoción</p>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-5">
                <div class="mb-3">
                    <font size="6">Modificar los datos de la promoción</font>
                </div>

                @using (Html.BeginForm("ModificarPromocion", "Promocion", FormMethod.Post))
                {
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row justify-content-center sin-margin">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label>Descripción:</label>
                                                @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control mt-1 shadow" })
                                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label>Inicio:</label>
                                                @Html.TextBoxFor(model => model.FechaInicio, new { @class = "datefield", type = "date", style = "color: black;", @Value = Model.FechaInicio })
                                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                                                @if (ViewBag.FechaInicioInvalida != null)
                                                {
                                                    <span class="field-validation-error text-danger" data-valmsg-for="FechaInicio" data-valmsg-replace="true">@ViewBag.FechaInicioInvalida</span>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label>Vencimiento:</label>
                                                @Html.TextBoxFor(model => model.FechaBaja, new { @class = "datefield", type = "date", style = "color: black;", @Value = Model.FechaBaja })
                                                @Html.ValidationMessageFor(model => model.FechaBaja, "", new { @class = "text-danger" })
                                                @if (ViewBag.FechaBajaInvalida != null)
                                                {
                                                    <span class="field-validation-error text-danger" data-valmsg-for="FechaInicio" data-valmsg-replace="true">@ViewBag.FechaBajaInvalida</span>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label>Tipo:</label>
                                                <select class="btn" id="tipos" onchange="AsignarTipo()">
                                                    <option value="-1" selected="selected" disabled="disabled">Seleccione Tipo</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group" hidden="hidden">
                                                @Html.TextBoxFor(model => model.EsPremio, new { @class = "form-control mt-1 shadow", @id = "inTipo" })
                                                @Html.ValidationMessageFor(model => model.EsPremio, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group" hidden="hidden">
                                                @Html.TextBoxFor(model => model.IdPromocion, new { @class = "form-control mt-1 shadow" })
                                                @Html.ValidationMessageFor(model => model.IdPromocion, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" value="Modificar" class="btn btn-sm btn-success float-right mt-2 mb-2 shadow" /></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-7 no-767">
                <img alt="promo-pinchos" src="~/Content/img/promo-pinchos.png" class="promo-img" />
            </div>
        </div>
    </div>

@section scripts
{
    <script>
        $(document).ready(function () {
            ObtenerTiposPromocion();
        });
        function ObtenerTiposPromocion() {
            $.ajax({
                type: "POST",
                url: "/Promocion/ObtenerTiposPromocion",
                data: {},
                dataType: "json",
                success: function (data) {
                    var select = $("#tipos");
                    for (var i in data) {
                        select.append($("<option></option>").attr("value", data[i].IdTipo).text(data[i].Descripcion));
                    }
                },
                error: function (errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function AsignarTipo() {
            $("#inTipo").val($("#tipos").val());
        }
    </script>
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
}
