@model EnjoyYourWaitNetSite.Models.ProductoViewModel
@{
    ViewBag.Title = "Gestión de Productos";
}
<div>
    @if (ViewBag.SuccessState != null)
    {
        <div id="messageModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @switch (ViewBag.SuccessState)
                            {
                                case "LOAD_FAILED":
                                    <p>Error al cargar los productos.</p>
                                    break;
                                case "ADD_SUCCESS":
                                    <p>El producto se creó correctamente.</p>
                                    break;
                                case "ADD_FAILED":
                                    <p>Error al crear el producto.</p>
                                    break;
                                case "DELETE_SUCCESS":
                                    <p>El producto se eliminó correctamente.</p>
                                    break;
                                case "DELETE_FAILED":
                                    <p>Error al eliminar el producto.</p>
                                    break;
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model != null)
    {
        <div id="addModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div id="addModalContent"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar</h5>
                        </div>
                        <div class="modal-body">
                            <p>¿Desea eliminar el producto seleccionado?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" asp-controller="Producto" asp-action="EliminarProducto">
                                <input id="inProducto" name="dni" type="hidden">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                                <input type="submit" class="btn btn-sm btn-danger" value="Eliminar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col justify-content-center">
                <div class="row mt-3">
                    <div class="col">
                        <font class="float-left" size="5">Productos</font>
                        <button type="button" id="btnRegistrarProducto" class="btn btn-success btn-sm float-right" onclick="location.href='@Url.Action("AbrirRegistroProducto", "Producto")'">+ Registrar</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">DNI</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Fecha de Nacimiento</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var recepcionista in Model.lstRecepcionista)
                                    {
                                        <tr>
                                            <td class="align-middle">@recepcionista.Dni</td>
                                            <td class="align-middle">@recepcionista.Nombre</td>
                                            <td class="align-middle">@recepcionista.Apellido</td>
                                            <td class="align-middle">@recepcionista.Email</td>
                                            <td class="align-middle">@recepcionista.FechaNacimiento</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm item-delete-selection"
                                                        item-id="@recepcionista.Dni">
                                                    Borrar
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    @if (ViewBag.SuccessState != null)
    {
        <script>
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
    @if (Model != null)
    {
        <script>
            $(function () {
                //$("#btnRegistrarRecepcionista").click(function () {
                //    var options = { "backdrop": "static", keyboard: true };
                //    $.ajax({
                //        type: "GET",
                //        url: "/Recepcionista/AbrirRegistroRecepcionista",
                //        contentType: "application/json; charset=utf-8",
                //        datatype: "json",
                //        success: function (data) {
                //            $("#addModalContent").html(data);
                //            $("#addModal").modal(options);
                //            $("#addModal").modal("show");
                //        }
                //    });
                //});
                $(".item-delete-selection").click(function () {
                    var $itemClicked = $(this);
                    var id = $itemClicked.attr('item-id');
                    $("#inRecepcionista").val(id);
                    $("#deleteModal").modal("show");
                });
            });
        </script>
    }
}  