@model EnjoyYourWaitNetSite.Models.ProductoViewModel
@{
    ViewBag.Title = "Gestión de Productos";
}
    <div>
        @if (ViewBag.SuccessState != null)
        {
            <div id="messageModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                @switch (ViewBag.SuccessState)
                                {
                                    case "LOAD_NOPRODUCTS":
                                        <p>No hay productos cargados en el sistema aún.</p>
                                        break;
                                    case "LOAD_FAILED":
                                        <p>Error al cargar los productos.</p>
                                        break;
                                    case "ADD_SUCCESS":
                                        <p>El producto se agregó correctamente.</p>
                                        break;
                                    case "ADD_FAILED":
                                        <p>Error al agregar el producto.</p>
                                        break;
                                    case "DISABLE_SUCCESS":
                                        <p>El producto se deshabilitó correctamente.</p>
                                        break;
                                    case "DISABLE_FAILED":
                                        <p>Error al deshabilitar el producto.</p>
                                        break;
                                    case "ENABLE_SUCCESS":
                                        <p>El producto se habilitó correctamente.</p>
                                        break;
                                    case "ENABLE_FAILED":
                                        <p>Error al habilitar el producto.</p>
                                        break;
                                    case "UPDATE_SUCCESS":
                                        <p>El producto se modificó correctamente.</p>
                                        break;
                                    case "UPDATE_FAILED":
                                        <p>Error al modificar el producto.</p>
                                        break;
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model != null)
        {
            <div id="disableModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Deshabilitar</h5>
                            </div>
                            <div class="modal-body">
                                <p>¿Desea deshabilitar el producto seleccionado? De esta forma se eliminará el producto del menú.</p>
                            </div>
                            <div class="modal-footer">
                                @using (Html.BeginForm("DeshabilitarProducto", "Producto", FormMethod.Post))
                                {
                                    <input id="inProducto" name="idProducto" type="hidden">
                                    <button type="button" class="btn btn-sm btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-sm btn-danger" value="Deshabilitar">
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="enableModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Habilitar</h5>
                            </div>
                            <div class="modal-body">
                                <p>¿Desea habilitar el producto seleccionado?</p>
                            </div>
                            <div class="modal-footer">
                                @using (Html.BeginForm("HabilitarProducto", "Producto", FormMethod.Post))
                                {
                                    <input id="inProducto" name="idProducto" type="hidden">
                                    <button type="button" class="btn btn-sm btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-sm btn-success" value="Habilitar">
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col justify-content-center">
                    <div class="row mt-3">
                        <div class="col-md-12 col-recep">
                            <font class="float-left" size="5">Productos</font>
                            <button type="button" id="btnRegistrarProducto" class="btn btn-sm float-right" onclick="location.href='@Url.Action("AbrirRegistroProducto", "Producto")'">Crear nuevo</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 col-recep">
                            <div class="table-responsive">
                                <table class="table table-prod">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="table-recepcion">Nombre</th>
                                            <th scope="col" class="table-recepcion">Precio</th>
                                            <th scope="col" class="table-recepcion">Imagen</th>
                                            <th scope="col" class="table-recepcion"></th>
                                            <th scope="col" class="table-recepcion"><span class="txt-acceso-sist">Estado</span><span class="txt-acceso">Estado</span></th>
                                            <th scope="col" class="table-recepcion txt-btn-visibilidad"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var producto in Model.lstProducto)
                                        {
                                        <tr>
                                            <td class="align-middle">@producto.nombre</td>
                                            <td class="align-middle">$@producto.precio</td>
                                            <td class="align-middle">
                                                <div style="display: inline-block" id="img_prod" class="col-sm-6 col-md-3 col-xl-5ths film-item, col-int-index">
                                                    <img class="img-responsive center-block lazy" src="~/Content/img/@producto.imagen" style="display: block;">
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm item-update-selection btn-grill-style"
                                                        onclick="location.href='@Url.Action("AbrirModificarProducto", "Producto", producto)'">
                                                    <i class="fas fa-check-square check-visible"></i>
                                                    <span class="txt-modif-visible">Modificar</span>
                                                </button>
                                            </td>

                                            @if (producto.activo == 1)
                                            {
                                        <td class="align-middle table-recepcion estado-size">
                                            <span class="txt-btn-visibilidad">Habilitado</span>
                                            <button type="button" class="btn btn-sm item-disable-selection btn-grill-style img-visibilidad">
                                                <img src="~/Content/img/icon-enable.png" class="img-visibilidad img-dis-ena" />
                                            </button>
                                        </td>
                                            }
                                            else
                                            {
                                                
                                                <td class="align-middle table-recepcion estado-size">
                                                    <span class="txt-btn-visibilidad">Deshabilitado</span>
                                                    <button type="button" class="btn btn-sm item-enable-selection btn-grill-style img-visibilidad">
                                                        <img src="~/Content/img/icon-disable.png" class="img-visibilidad img-dis-ena" />
                                                    </button>
                                                </td>
                                            }

                                            @if (producto.activo == 1)
                                            {
                                                <td class="table-recepcion txt-btn-visibilidad">
                                                    <button type="button" class="btn btn-sm item-disable-selection btn-grill-style"
                                                            item-id="@producto.idProducto">
                                                        Deshabilitar
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="table-recepcion txt-btn-visibilidad">
                                                    <button type="button" class="btn btn-sm item-enable-selection btn-grill-style"
                                                            item-id="@producto.idProducto">
                                                        Habilitar
                                                    </button>
                                                </td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

@section scripts
{
    @if (ViewBag.SuccessState != null)
    {
        <script>
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
    @if (Model != null)
    {
        <script>
            $(function () {
                $(".item-disable-selection").click(function () {
                    var $itemClicked = $(this);
                    var id = $itemClicked.attr('item-id');
                    $("#inProducto").val(id);
                    $("#disableModal").modal("show");
                });
            });
            $(function () {
                $(".item-enable-selection").click(function () {
                    var $itemClicked = $(this);
                    var id = $itemClicked.attr('item-id');
                    $("#inProducto").val(id);
                    $("#enableModal").modal("show");
                });
            });
        </script>
    }
}