@model EnjoyYourWaitNetSite.Models.UpdateProductoViewModel
@{
    ViewBag.Title = "Modificar producto";
}
<div>
    @if (ViewBag.Success != null)
    {
        <div id="messageModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @if (ViewBag.Success)
                            {
                                <p>El producto se modificó correctamente</p>
                            }
                            else
                            {
                                <p>Error al modificar el producto</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="mb-3">
        <font size="6">Ingresar los datos del producto</font>
    </div>

    @using (Html.BeginForm("ModificarProducto", "Producto", FormMethod.Post))
    {
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row justify-content-center">
                    <table>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Nombre:</label>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Precio:</label>
                                    @Html.TextBoxFor(model => model.Precio, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label>Imagen:</label>
                                    @Html.TextBoxFor(model => model.Imagen, new { @class = "form-control mt-1 shadow" })
                                    @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Modificar" class="btn btn-sm btn-success float-right mt-2 mb-2 shadow" /></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    @if (ViewBag.Success != null)
    {
        <script>
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
}



